@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url("/static/fonts/invitations/fonts/poppins/poppins-v5-latin-300.eot");
    /* IE9 Compat Modes */
    src: local("Poppins Light"), local("Poppins-Light"), url("/static/fonts/invitations/fonts/poppins/poppins-v5-latin-300.eot?#iefix") format("embedded-opentype"), url("/static/fonts/invitations/fonts/poppins/poppins-v5-latin-300.woff2") format("woff2"), url("/static/fonts/invitations/fonts/poppins/poppins-v5-latin-300.woff") format("woff"), url("/static/fonts/invitations/fonts/poppins/poppins-v5-latin-300.ttf") format("truetype"), url("/static/fonts/invitations/fonts/poppins/poppins-v5-latin-300.svg#Poppins") format("svg");
    /* Legacy iOS */ }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    justify-content: center;
    font-family: Poppins;
    font-weight: 400;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.header_fixed {
    max-height: 100vh;
    width: 100%;
    overflow: auto;
    border: 1px solid #5bdae3;
}
#span{
    font-weight: bold;
    color: white;
}

.header_fixed thead th {
    position: sticky;
    top: 0;
    background-color: #5bdae3;
    color: white;
    font-weight: normal;
    font-size: 36px;
}
.header_fixed thead th button{
    background-color: white;
    color: rgba(0, 0, 0, 0.6);
    font-size: 15px;
    padding: 6px;
}
.header_fixed thead th button:hover{
    border: 1px solid black;
    cursor: pointer;
}
th,td {
    padding: 16px 20px;
    font-size: 16px;
    text-align: center;
}

td img {
    height: 150px;
    width: 150px;
}

tr:nth-child(even):hover {
    border: 2px solid #5bdae3;
}

tr:nth-child(odd):hover {
    border: 2px solid #5bdae3;
}

tr:hover td {
    color: #5bdae3;
    cursor: pointer;
}


::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
tbody th{
    font-size: 20px;
    font-weight: bold;
    color: #48747E;
}
.btn1,.home-btn,.btn2{
    background-color: #5bdae3;
    border:none;
    /* border-radius: 5px; */
    color: white;
    padding:10px 82px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    /* box-shadow: 0 12px 17px 0 rgba(0, 0, 0, 0.1),0 17px 50px 0 rgba(0, 0, 0, 0.12); */
}
.btn1:hover,.home-btn:hover,.btn2:hover{
    /* box-shadow: 0 12px 17px 0 rgba(119, 154, 173, 0.715),0 17px 50px 0 rgba(110, 228, 222, 0.77); */
    box-shadow: 3px 3px 3px #5bdae3;

}

i{
    padding: 10px;
}
i:hover{
    color:#000;
}
