<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Marriage Details</title>
    <link rel="icon" href="/static/images/home/logo.png" type="image/png">

    <!-- Font Icon -->
    <link rel="stylesheet" href="/static/fonts/invitations/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="/static/css/invitation/style.css">
</head>
<body>

    <div class="main">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Bride Details</h2>
                        <form action="/invitation/couple_details" method="POST" class="register-form" id="register-form"  enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="bride_name"><i class="zmdi zmdi-email"></i></label>
                                <input type="text" name="bride_name" id="bride_name" placeholder="Bride Name"/>
                            </div>
                            <div class="form-group">
                                <label for="qualification"><i class="zmdi zmdi-email"></i></label>
                                <input type="text" name="qualification" id="qualification" placeholder="Qualification"/>
                            </div>
                            <div class="form-group">
                                <label for="dob"><i class="zmdi zmdi-lock"></i></label>
                                <input type="date" name="dob" id="dob" placeholder="DOB"/>
                            </div>
                            <div class="form-group">
                                <label for="relative_count"><i class="zmdi zmdi-lock-outline"></i></label>
                                <input type="text" name="relatives_count" id="relative_count" placeholder="No of relatives"/>
                            </div>
                            <div class="form-group">
                                <label for="image"><i class="zmdi zmdi-lock-outline"></i></label>
                                <input type="file" name="image" id="image" data-max_length="1" placeholder="Bride image"/>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                                <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Next"/>
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="/static/images/invitation/bride.webp" alt="sing up image"></figure>
                        <!-- <a href="#" class="signup-image-link">I am already member</a> -->
                    </div>
                </div>
            </div>
        </section>

        <!-- Sing in  Form -->

    </div>

    <!-- JS -->
    <script src="/static/jquery/invitations/jquery/jquery.min.js"></script>
    <!-- <script src="js/main.js"></script> -->
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>