<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Templates</title>
  <link rel="stylesheet" href="/static/css/invitation/web_templates.css">
  <link rel="icon" href="/static/images/home/logo.png" type="image/png">
</head>
<body>
<!-- partial:index.partial.html -->
<div class="row">
<div class="container">
 <div class="wrapper1">
   <div class="banner-image1"> </div>
   <h1> Template1</h1>
   <p>Beautiful wedding website,<br/>
     crafted using pink and blue.</p>
  </div>
  <div class="button-wrapper"> 
  <button class="btn outline" onclick="document.location='/invitation/view/{{invitation_id}}/1'">Preview</button>
    <button class="btn fill" onclick="document.location='/invitation/template/1'">Select Template</button>
  </div>
    </div>
    
</div>

<div class="container">
    <div class="wrapper">
      <div class="banner-image2"> </div>
      <h1> Template2</h1>
      <p>Beautiful wedding website, <br/>
        crafted using orange and green.</p>
     </div>
     <div class="button-wrapper"> 
     <button class="btn outline" onclick="document.location='/invitation/view/{{invitation_id}}/2'">Preview</button>
       <button class="btn fill" onclick="document.location='/invitation/template/2'">Select Template</button>
     </div>
       </div>
       
   </div>
<!-- partial -->
</div>
  
</body>
</html>
