<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards Designed</title>
    <link rel="icon" href="/static/images/home/logo.png" type="image/png">
    <link rel="stylesheet" href="/static/css/invitation/dashboard.css" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>
    <div class="header_fixed" id="userdata">
        <table>
            <div class="head">
                <thead>
                    <tr style="border: 2px solid #5bdae3;">
                        <th>Cards<span id="span">Designed</span></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        {%if subscription%}
                        <th></th>{%endif%}
                        <th></th>
                    </tr>
                </thead>
            </div>
            <tbody>
                <tr style="border: 2px solid #5bdae3;">
                    <th>Groom Name</th>
                    <th>Bride Name</th>
                    <th>Marriage Date</th>
                    <th>Guests Attending</th>
                    {%if subscription%}
                    <th>Edit template</th>{%endif%}
                    <th>Delete/Edit/View</th>
                </tr>
                {% for row in data %}
                <tr>
                    <!-- <td>{{row.id}}</td> -->
                    <td>{{row.groom_name}}</td>
                    <td>{{ row.bride_name }}</td>
                    <td>{{row.marriage_date}}</td>
                    <td><span onclick="document.location='/invitation/viewguests/{{row.id}}'"><b><i class="material-icons">&#xe8ef;</i></b></span></td>
                    {%if subscription %}
                    <td><span onclick="document.location='/invitation/templates/{{row.id}}'"><b><i class="material-icons">&#xe3c9;</i></b></span></td>{%endif%}
                    <td><span onclick="document.location='/invitation/delete/{{row.id}}'"><b><i class="material-icons">&#xe872;</i></b></span><!--Delete-->
                        <span onclick="document.location='/invitation/edit/{{row.id}}'"><b><i class="material-icons">&#xe3c9;</i></b></span><!--Edit-->
                        <span onclick="document.location='/invitation/languages/{{row.id}}/{{row.template_selected}}'"><b><i class="material-icons">&#xe89e;</i></b></span></td><!--View-->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div><br>
    <center><button onclick="document.location='/'" class="home-btn">Go Home</button></center>

    <!-- <script>
        const btns1 = document.querySelectorAll('.btn1');
        btns1.forEach(btn => {
            btn.addEventListener('click', function() {
                const uniqueNumber = this.getAttribute('data-unique-number');
                window.location.href = `/invitation/view/${uniqueNumber}`;
            });
        });

        const btns2 = document.querySelectorAll('.btn2');
        btns2.forEach(btn => {
            btn.addEventListener('click', function() {
                const uniqueNumber = this.getAttribute('data-unique-number');
                window.location.href = `/invitation/viewguests/${uniqueNumber}`;
            });
        });
    </script> -->
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</body>
</html>
