<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Marryme</title>
  <link rel="icon" href="/static/images/home/logo.png" type="image/png">

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="/static/css/home/bootstrap.css" />

  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/home/home1/assets/css/meyawo.css">
  <link rel="stylesheet" type="text/css" href="/static/css/home/bootstrap.css" />
  <!-- Custom styles for this template -->
  <link href="/static/css/home/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="/static/css/home/responsive.css" rel="stylesheet" />
</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" href="index.html">
            <img src="/static/images/home/logo.png" alt="" />
            <span>
              Marryme
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  ">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about"> About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#portfolio">Steps </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#pricing">Pricing </a>
              </li>
            </ul>
            <div class="user_option">
              {%if not session['logged_in']%}
              <a href="/user/login">
                <span>
                  Login
                </span>
              
              </a>
              {%else%}
              <a>
                <span onclick="openForm()">
                  <img src="/static/images/home/user.png" alt="" />
                </span>
              </a>
              {%endif%}
            
            </div>
          </div>
          <div>
            <div class="custom_menu-btn ">
              <button>
                <span class=" s-1">

                </span>
                <span class="s-2">

                </span>
                <span class="s-3">

                </span>
              </button>
            </div>
          </div>

        </nav>
        
      </div>
    </header>
  
    <!-- end header section -->
    <!-- slider section -->
    <section class="slider_section ">
      <div class="carousel_btn-container">
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="sr-only">Next</span>
        </a>
      </div>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">01</li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1">02</li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2">03</li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-5 offset-md-1">
                  <div class="detail-box">
                    <h1>
                      Forever <br>
                      Begins Today
                    </h1>
                    <p>
                      Use our service to effortlessly create a personalized wedding website, simply by providing your details. Let us handle the rest, making your special day unforgettable.
                    </p>
                    <div class="btn-box">
                      <a href="/invitation/create" class="btn-1">
                        Make your website
                      </a>
                      <!-- <a href="" class="btn-2">
                        Get A Quote
                      </a> -->
                    </div>
                  </div>
                </div>
                <div class="offset-md-1 col-md-4 img-container">
                  <div class="img-box">
                    <img src="/static/images/home/login.webp" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-5 offset-md-1">
                  <div class="detail-box">
                    <h1>
                      Marriages are <br>
                      made in Heaven
                    </h1>
                    <p>
                      Let our service bring a touch of that heavenly magic to your wedding website, created effortlessly with just your details.
                    </p>
                    <div class="btn-box">
                      <a href="/invitation/create" class="btn-1">
                        Make your website
                      </a>
                      <!-- <a href="" class="btn-2">
                        Get A Quote
                      </a> -->
                    </div>
                  </div>
                </div>
                <div class="offset-md-1 col-md-4 img-container">
                  <div class="img-box">
                    <img src="/static/images/home/m2.webp" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>

      </div>

    </section>
    <!-- end slider section -->
  </div>

  <section class="section mt-5" id="about">
    <!-- container -->
    <div class="container text-center">
        <!-- about wrapper -->
        <div class="about">
            <div class="about-img-holder">
                <img src="/static/images/home/logo.png" class="about-img" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
            </div>
            <div class="about-caption">
                <p class="section-subtitle">Whom we Are ?</p>
                <h2 class="section-title mb-3">About Us</h2>
                <p>
                  Welcome to our AI Wedding Website Designer! We specialize in creating<br>
                  personalized wedding websites based on the unique details and stories<br>
                  provided by our clients. Using advanced AI technology, we craft beautiful,<br>
                  romantic, and heartwarming websites that perfectly capture the essence of your <br>
                  love story. Whether it's the first meet, first date, proposal, or engagement, <br>
                  our AI ensures that every special moment is highlighted, making your wedding website <br>
                  a cherished keepsake for you and your guests.
                </p>
                <!-- <button class="btn-rounded btn btn-outline-primary mt-4">Download CV</button> -->
            </div>              
        </div><!-- end of about wrapper -->
    </div><!-- end of container -->
</section> <!-- end of about section -->

  <!-- experience section -->
  <section class="section" id="portfolio">
    <div class="container text-center">
        <p class="section-subtitle">How to Use ?</p>
        <h6 class="section-title mb-6">Steps</h6>
        <!-- row -->
        <div class="row">
            <div class="col-md-4">
                <a href="#" class="portfolio-card">
                    <img src="/static/css/home/home1/assets/imgs/1.png" class="portfolio-card-img owidth oheight" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">    
                    <span class="portfolio-card-overlay owidth oheight">
                        <span class="portfolio-card-caption">
                            <h4>step1</h5>
                            <p class="font-weight-normal">Login through your credentials</p>
                        </span>                         
                    </span>                     
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" class="portfolio-card">
                    <img class="portfolio-card-img owidth oheight" src="/static/css/home/home1/assets/imgs/2.png" class="img-responsive rounded" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
                    <span class="portfolio-card-overlay owidth oheight">
                        <span class="portfolio-card-caption">
                            <h4>Step2</h5>
                            <p class="font-weight-normal">Click on the make website button</p>
                        </span>                         
                    </span>                         
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" class="portfolio-card ">
                    <img class="portfolio-card-img owidth oheight" src="/static/css/home/home1/assets/imgs/3.png" class="img-responsive rounded" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">    
                    <span class="portfolio-card-overlay owidth oheight">
                        <span class="portfolio-card-caption">
                            <h4>Step3</h5>
                            <p class="font-weight-normal ">Give all the details and submit</p>
                        </span>                         
                    </span>                     
                </a>
            </div>
        </div><!-- end of row -->
    </div><!-- end of container -->
</section> <!-- end of portfolio section -->

<!-- pricing section -->
<section class="section" id="pricing">
    <div class="container text-center">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
              <span class="flash-message {{ category }}">{{ message }}</span>
          {% endfor %}
        {% endif %}
      {% endwith %}
        <p class="section-subtitle">How Much I Charge ?</p>
        <h6 class="section-title mb-6">My Pricing</h6>
        <!-- row -->
        <div class="pricing-wrapper">
            <div class="pricing-card">
                <div class="pricing-card-header">
                    <img class="pricing-card-icon" src="/static/css/home/home1/assets/imgs/scooter.svg" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
                </div>
                <div class="pricing-card-body">
                    <h6 class="pricing-card-title">Free</h6>
                    <div class="pricing-card-list">
                        <p>Create basic webpage</p>
                        <p>access to single template at a time</p>
                        <p><i>&times;</i></p>
                        <p><i>&times;</i></p>
                        <!-- <p><i>&times;</i></p> -->

                    </div>
                </div>
                <div class="pricing-card-footer">
                    <span>$</span>
                    <span>0.00/Month</span>
                </div>
                {%if session['subscription'] == 'Premium Plan'%}
                <a href="/user/subscribe/0" class="btn btn-primary mt-3 pricing-card-btn">Degrade</a>{%endif%}
                {%if session['subscription'] == 'Free Plan'%}
                <a href="#" class="btn btn-primary mt-3 pricing-card-btn">Current Plan</a>
                {%endif%}
            </div>
            
            <div class="pricing-card">
                <div class="pricing-card-header">
                    <img class="pricing-card-icon" src="/static/css/home/home1/assets/imgs/startup.svg" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
                </div>
                <div class="pricing-card-body">
                    <h6 class="pricing-card-title">Premium</h6>
                    <div class="pricing-card-list">
                      <p>Create basic webpage</p>
                      <p>access to all templates</p>
                      <p>access to ai tool</p>
                      <p>access to multiple languages</p>
                    </div>
                </div>
                <div class="pricing-card-footer">
                    <span>$</span>
                    <span>99.9/Month</span>
                </div>
                {%if session['subscription'] == 'Free Plan'%}
                <a href="/user/subscribe/1" class="btn btn-primary mt-3 pricing-card-btn">Upgrade</a>{%endif%}
                {%if session['subscription'] == 'Premium Plan'%}
                <a href="#" class="btn btn-primary mt-3 pricing-card-btn">Current Plan</a>
                {%endif%}
            </div>

        </div><!-- end of pricing wrapper -->
    </div> <!-- end of container -->
</section><!-- end of pricing section -->

<!-- contact section -->
<section class="section" id="contact">
    <div class="container text-center">
        <p class="section-subtitle">How can you communicate?</p>
        <h6 class="section-title mb-5">Contact Me</h6>
        <!-- contact form -->
        <form action="" class="contact-form col-md-10 col-lg-8 m-auto">
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <input type="text" size="50" class="form-control" placeholder="Your Name" required>                 
                </div>
                <div class="form-group col-sm-6">
                    <input type="email" class="form-control" placeholder="Enter Email"requried>                 
                </div>
                <div class="form-group col-sm-12">
                    <textarea name="comment" id="comment" rows="6"   class="form-control" placeholder="Write Something"></textarea>
                </div>
                <div class="form-group col-sm-12 mt-3">
                    <input type="submit" value="Send Message" class="btn btn-outline-primary rounded">                  
                </div>
            </div>  
        </form><!-- end of contact form -->
    </div><!-- end of container -->
</section><!-- end of contact section -->

  <!-- footer section -->
  <footer class="container-fluid footer_section ">
    <div class="container">
      <p>
        &copy; <span id="displayDate"></span> All Rights Reserved By
        <a href="https://html.design/">Marryme</a>
      </p>
      <div class="social_box">
        <a href="#">
          <img src="/static/images/home/fb.png" alt="">
        </a>
        <a href="#">
          <img src="/static/images/home/twitter.png" alt="">
        </a>
        <a href="#">
          <img src="/static/images/home/linkedin.png" alt="">
        </a>
        <a href="#">
          <img src="/static/images/home/instagram.png" alt="">
        </a>
        <a href="#">
          <img src="/static/images/home/youtube.png" alt="">
        </a>
      </div>
    </div>
  </footer>
  <!-- end  footer section -->
  <div class="form-popup" id="myForm">
    <form class="form-container" action="/user/logout" >
      <span onclick="closeForm()" class="cancel" title="Close window">&times;</span>
      <center><span style="color:#000">Hello {{session['user_name']}}</span>
        <hr><br>
        <label for="email"><b><span style="color:#000">{{session['subscription']}}</span></b></label>
        <!-- <label for="email"><b><span style="color:#000">Welcome to Marryme :)</span></b></label> -->
        <!-- <br><br>
        <label for="psw"><b><span style="color:#000"></span></b></label> -->
      </center>
      <br>
      
      <button type="button" class="btn" onclick="document.location='/invitation/viewcards' "><b>viewcards</b></button>
      <!-- {%if session['user']%}<button type="button" class="btn" onclick="document.location='/asha' "><b>Asha Worker Register</b></button>{%endif%} -->
      <button type="submit" class="btn"><b>Logout</b></button>
    </form>
  <!-- end form -->
  </div>
<script>
  document.addEventListener('DOMContentLoaded', (event) => {
      const flashMessages = document.querySelectorAll('.flash-message');
      flashMessages.forEach((msg) => {
          setTimeout(() => {
              msg.style.display = 'none';
          }, 3000); // Hide after 5 seconds
      });
  });
</script>
  <script src="/static/js/home/jquery-3.4.1.min.js"></script>
  <script src="/static/js/home/bootstrap.js"></script>
  <script src="/static/js/home/custom.js"></script>
  <script src="/static/css/home/home1/assets/vendors/jquery/jquery-3.4.1.js"></script>
    <script src="/static/css/home/home1/assets/vendors/bootstrap/bootstrap.bundle.js"></script>

    <!-- bootstrap 3 affix -->
	<script src="/static/css/home/home1/assets/vendors/bootstrap/bootstrap.affix.js"></script>

    <!-- Meyawo js -->
    <script src="/static/css/home/home1/assets/js/meyawo.js"></script>

</body>
</body>

</html>